{% extends 'base.html.twig' %}

{% block title %}Terroir Garonnais{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}


{% block body %}

<div class="img-accueil">
<img src="uploads/accueil.jpeg" alt="photo de legume">
</div>

{% endblock %}



