{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

<div class="mb-2">
    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}
</div>

<div class="mb-2">
    <a href="{{ path('app_produit_index') }}" class="btn btn-primary">back to list</a>
</div>

<div class="mb-2">
    {{ include('produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
