body {
    background-color: skyblue;
}



/*navbar*/

.nav-link:hover {
    background-color: #198754; /* Fond légèrement gris */
    border-radius: 5px; /* Ajoute un effet arrondi */
  color: white !important ;
}


.user-info {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.bi-person-circle {
  font-size: 2rem;
}

.btn-panier {
  background-color: #FF4500;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}

.btn-panier:hover {
  background-color: #198754;
  color: white;
}

.form-control {
  width: 300px;
}

/*Page Produit*/

.table {
    width: 100%;
}



