body {
    background-color: skyblue;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    width: 100vw; /* Prend toute la largeur de l'écran */
    margin: 0;
    padding: 0;
    flex: 1;
}

h1 {
    text-align: center;
}

.custom-btn {
    background-color: #198754   ; 
    border: none;
    color: white;
}

/*navbar*/

.logo {
    max-width: 100px; /* Ajustez selon vos besoins */
    height: auto;
    cursor: pointer;
}


.nav-link:hover {
    background-color: #198754; /* Fond légèrement gris */
    border-radius: 5px; /* Ajoute un effet arrondi */
  color: white !important ;
}


.user-info {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.bi-person-circle {
  font-size: 2rem;
}

.btn-panier {
  background-color: #FF4500;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}

.btn-panier:hover {
  background-color: #198754;
  color: white;
}

.form-control {
  width: 300px;
}

/*Page Accueil*/

.img-accueil {
    width: 100vw;
    height: auto;
    overflow: hidden;
}


.img-accueil img {
    width: 100%;
    height: auto;
    max-height: 600px; 
    object-fit: cover;
    display: block;
}

/*Page Produit*/

.table {
    width: 100%;
}

/*Footer*/

footer {
    background-color: #198754;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



