body {
    background-color: skyblue;
}

.user-info {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px;
}

.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.bi-person-circle {
  font-size: 2rem;
}
